@import "../../_app/styles/scss/_app-variables.scss";

$menu-width: 180px;
@mixin menuTransition {
  transition-duration: 0.5s;
  transition-property: left, width;
  transition-timing-function: ease-in-out;
}

.main-container {
  @include menuTransition;
  left: 0;
  min-height: 100%;
  overflow-x: hidden;
  position: absolute;

  &.side-menu-open {
    min-height: 100%;
    overflow-x: hidden;
    position: absolute;

    &.side-menu-open {
      left: 0;
      width: 100%;

      .main-content-overlay {
        left: $menu-width;
      }
    }
  }

  &.side-menu-close {
    left: -$menu-width;
    width: calc(100% + #{$menu-width});

    .main-content-overlay {
      left: 0;
    }
  }
}

.main-content {
  width: calc(100% - #{$menu-width});
  left: $menu-width;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-content-overlay {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $main-content-loading-z-index;
  background-color: rgba($gray-darker, 0.8);
  height: 100%;
}

.main-content-page {
  position: relative;
  height: 100%;
  padding-top: 5px;

  & > div {
    height: 100%;
  }
}

.side-menu-container {
  width: $menu-width;
  background-color: $gray-darker;
  min-height: 100%;
  box-shadow: inset $black -8px -6px 8px -5px;
  padding: 30px 0;
  line-height: 170%;
  position: absolute;
  > div {
    width: inherit;
  }
}
