.page-details-header {
  font-size: 25px;
  font-weight: 200;
  color: grey;
}

.aggregated-data {
  width: 30%;
  height: 40%;
  background-color: lightgrey;
  position: fixed;
  top: 92px;
  right: 4%;
}

.aggregated-wrapper {
  margin: 25px 10px;
  color: grey;
}

.aggregated-data-header {
  font-size: 25px;
  margin-bottom: 20px;
}

.aggregated-data-section {
  margin-top: 15px;
  margin-bottom: 15px;
}